<!--
  Generated template for the Scann page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
  <ion-title>
   <ion-icon class="logo" name="barcode"></ion-icon>
    <span>Scanned Barcode</span>
	</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<div *ngIf="foundIt">
  <ion-card class="product-info">
    <ion-card-header class="my-header">Product</ion-card-header>
    <ion-card-content *ngFor="let item of data">
      <ion-avatar class="my-avatar" item-left (tap)="launchUrl(url=item.link)">
        <img src="{{ item.img}}" />
      </ion-avatar>
      <h2 color="primary-text">{{ item.brandname}}</h2>
      <h3 color="secondary-text">{{ item.gtin_nm}}</h3>
    </ion-card-content>
  </ion-card>
  <div class="cats">
    <button class="cat-btn" id="ingrediants" ion-button block color="secondary" (click)="showHide($event)">Ingredients</button>
    <ion-list [hidden]="hideIt">
      <ion-item>Ingredient 1</ion-item>
      <ion-item>Ingredient 2</ion-item>
      <ion-item>ingredient 3</ion-item>
    </ion-list>
  </div>
<div class="cats">
  <button class="cat-btn" ion-button block color="secondary" (click)="showHide($event)">Vitamins</button>
  <ion-list [hidden]="hideIt" *ngFor="let item of data">
    <ion-item>Protien: {{item.protein}}g</ion-item>
    <ion-item>Sugars: {{item.sugars}}g</ion-item>
    <ion-item>Vitamin A: {{item.vitamin_a}}g </ion-item>
    <ion-item>Vitamin C: {{item.vitamin_c}}g</ion-item>
  </ion-list>
</div>
  <div class="cats">
  <button class="cat-btn" ion-button block color="secondary" (click)="showHide($event)">Minerals</button>
  <ion-list [hidden]="hideIt" *ngFor="let item of data">
    <ion-item>Protien: {{item.protein}}g</ion-item>
    <ion-item>Sugars: {{item.sugars}}g</ion-item>
    <ion-item>Vitamin A: {{item.vitamin_a}}g </ion-item>
    <ion-item>Vitamin C: {{item.vitamin_c}}g</ion-item>
  </ion-list>
</div>
  <div class="cats">
    <button class="cat-btn" ion-button block color="secondary" (click)="showHide($event)">Carbs</button>
    <ion-list [hidden]="hideIt" *ngFor="let item of data">
      <ion-item>Protien: {{item.protein}}g</ion-item>
      <ion-item>Sugars: {{item.sugars}}g</ion-item>
      <ion-item>Vitamin A: {{item.vitamin_a}}g </ion-item>
      <ion-item>Vitamin C: {{item.vitamin_c}}g</ion-item>
    </ion-list>
  </div>
  <ion-card *ngIf="!foundIt">
    <ion-card-content class="not-found" color="secondary-text">
      Ooops! Not in our DB Yet
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
