page-scann {

	[ion-title] span{
		display: block;
		margin-left:35px;
	}

	ion-icon.logo{
		margin-left: 10px;
	}
  .product-info{
    margin-bottom: 15px;
    background: linear-gradient(to bottom right,#F5EFFB, #F3E2A9);
  }
  .my-header{
    text-align: center;
  }
  .my-header img{
    display:block;
    margin: 0 auto;
    width:50%;
    height: 50%;
  }

  .prod-name{
    font-size: 1.2em;
    text-align: center;
  }

  .cat-btn{
    border-radius: 6px;
  }
  .cats{
    margin-bottom: 10px;
  }
  .not-found{
    text-align: center;
    background-color: $primary-color-light ;
    font-size: 1.3em;
    font-weight: bold;
    //color: #FA5858;
    color: #6E6E6E;

  }

}
