page-home {

  div.header-img{

  }
  h2{
    text-align: center;
    font-size:1.5em;
    font-width:bold;
    color: $primary-color-text;
  }
	p{
		font-size: 1.2em;
	}
	div.btn-container{
		text-align: center;
		height: auto;
	}

	h5.tag-line{
		margin-top:30px;
	}

	ion-title span{
		display: inline-block;
		margin-left:25px;
	}

	ion-icon.logo{
		margin-left: 10px;
	}

  ion-item.nutr-facts{
    text-align: center;
    font-size:1.3em;
    color:$secondary-text-color;
  }


}
