// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
//$button-md-text-color: #212121;
//$background-color: #FFECB3;




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


//Ionic Defaults
 $colors: (
   primary:    #387ef5,
   secondary: #8BC34A,
   //secondary:  #32db64,
   danger:     #f53d3d,
   light: #f4f4f4,
   dark: #222,
 );

$toolbar-background:#8BC34A;
$background-color: #F5EFFB;



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

//caruso MD Green
//  $primary-color-dark:   #388E3C;
//  $primary-color:        #4CAF50;
//  $primary-color-light:  #C8E6C;
//  $primary-color-text:   #FFFFFF;
//  $accent-color:         #7C4DFF;
//  $primary-text-color:   #212121;
//  $secondary-text-color: #757575;
//  $divider-color:        #BDBDBD;

//caruso MD Light Green
  $primary-color-dark:   #689F38;
  $primary-color:        #8BC34A;
  $primary-color-light:  #DCEDC8;
  $primary-color-text:   #212121;
  $accent-color:         #8BC34A;
  $secondary-text-color: #757575;
  $divider-color:        #BDBDBD;

//Caruso MD Amber
//    $primary-color-dark:   #FFA000;
//    $primary-color:        #FFC107;
//    $primary-color-light:  #FFECB3;
//    $primary-color-text:   #212121;
//    $accent-color:         #FFC107;
//    $primary-text-color:   #212121;
//    $secondary-text-color: #757575;
//    $divider-color:        #BDBDBD;

//Caruso MD Yellow
//    $primary-color-dark:   #FBC02D;
//    $primary-color:        #FFEB3B;
//    $primary-color-light:  #FFF9C4;
//    $primary-color-text:   #212121;
//    $accent-color:         #FFEB3B;
//    $primary-text-color:   #212121;
//    $secondary-text-color: #757575;
//    $divider-color:        #BDBDBD;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
